* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.nav-container {
    background-color: #1F2937;
    width: 100%;
    padding: 1rem 15rem;
    display: flex;
}

nav h1 {
    color: #F9FAF8;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin-left: auto;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #E5E7EB;
    text-decoration: none;
}

